{% extends 'base.html' %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/address.css' %}">
{% endblock %}

{% block page_title %}
    My Addresses
{% endblock %}

{% block content %}
    <div class="container">

        <a class="btn btn-outline-secondary mt-3 mb-3" href="/account/profile">&#x2190; Back to Profile</a>
        <h1 class="mt-3 fw-bold">My Addresses</h1>
        <hr>

        {% if addresses %}
            <div class="address-container">
                {% for address in addresses %}
                    {% if address.user == request.user %}
                        <div class="address-box">
                            <p><strong>Address Name:</strong> {{ address.addresname }}</p>
                            <p><strong>City:</strong> {{ address.city }}</p>
                            <p><strong>Province:</strong> {{ address.province }}</p>
                            <p><strong>Street:</strong> {{ address.street }}</p>
                            <p><strong>Zip:</strong> {{ address.zip }}</p>
                            <p><strong>Phone:</strong> {{ address.phone }}</p>
                            <form method="post" action="{% url 'delete_address' address.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn mt-3 btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p>No addresses found.</p>
        {% endif %}

        <hr>

        <div class="">
            <h2 class="mt-3 fw-bold">Add a new address: </h2>
            <form method="post" action="{% url 'add_address' %}">
                {% csrf_token %}

                <div class="form-field">
                    <label for="addresname">Address Name:</label>
                    <input class="form-control" type="text" id="addresname" name="addresname"
                           placeholder="Home, office..." required>
                </div>

                <div class="form-field">
                    <label for="city">City:</label>
                    <input class="form-control" type="text" id="city" name="city" required>
                </div>

                <div class="form-field">
                    <label for="province">Province:</label>
                    <input class="form-control" type="text" id="province" name="province" required>
                </div>

                <div class="form-field">
                    <label for="street">Street:</label>
                    <input class="form-control" type="text" id="street" name="street" required>
                </div>

                <div class="form-field">
                    <label for="zip">ZIP:</label>
                    <input class="form-control" type="text" id="zip" name="zip" required>
                </div>

                <div class="form-field mb-3">
                    <label for="phone">Phone:</label>
                    <input class="form-control" type="text" id="phone" name="phone" placeholder="+90" required maxlength="14" oninput="formatPhoneNumber(this)">
                </div>
                
                <script>
                function formatPhoneNumber(input) {
                    var cleaned = input.value.replace(/\s+/g, '').replace(/[^0-9]/gi, '');
                    var match = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/);
                    if (match) {
                        input.value = `+90 ${match[1]} ${match[2]} ${match[3]}`;
                    }
                }
                </script>
                
                
                
                

                <div class="form-field">
                    <input class="btn btn-success btn-block" type="submit" value="Save">
                </div>
            </form>

        </div>

    </div>
{% endblock %}
