{% extends 'base.html' %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/address.css' %}">
{% endblock %}

{% block page_tittle %}
    Campaigns
{% endblock %}

{% block content %}
    <div class="container">
        <div class="product-card mt-5">
            {% for campaign in campaigns %}
                <h1 class="card-title">{{ campaign.campaign_name }}</h1>
                {% for product in products %}
                    {% if product in campaign.products.all %}
                        <div class="card">
                            <div class="row">
                                <div class="col">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.product_name }}</h5>
                                        <p class="card-text mt-md-3 mt-2 "><strong>Price:</strong> {{ product.get_discounted_price }}$</p>
                                        <p class="card-text mt-md-3 mt-2 "><strong>Rate:</strong> {{ product.product_rating }}/10⭐</p>
                                        <p class="card-text mt-md-3 mt-2 "><strong>Category:</strong> {{ product.product_category }}</p>
                                        <p class="card-text mt-md-3 mt-2 "><strong>Count in stock:</strong> {{ product.product_countInStock }}</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <a href="{% url 'details' product.product_slug %}">
                                        <img src="{{ product.product_pic.url }}" class="card-img-top "
                                             alt="{{ product.product_name }} ">
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
