{% extends 'base_admin.html' %}

{% load static %}

{% block css_files %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

{% endblock %}


{% block page_tittle %}
    Admin Panel
{% endblock %}


{% block content %}


    <div class="container page ">
        <div class="row">
            <div class="col mobile-mt">
                {% for single_user in all_users %}
                    <div class="card mt-3 mb-3">
                        <div class="card-body">
                            <p class="card-title mt-md-3 mt-2 checkoutreformertitle">
                                <strong>Username:</strong> {{ single_user.username }}</p>
                            <p class="card-title mt-md-3 mt-2 checkoutreformertitle">
                                <strong>Username:</strong> {{ single_user.first_name }}</p>
                            <p class="card-title mt-md-3 mt-2 checkoutreformertitle">
                                <strong>Username:</strong> {{ single_user.last_name }}</p>
                        </div>
                        <div class="row">
                            <div class="col">
                                <form method="POST" action="{% url 'make_admin' single_user.username %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <label class="ml-3" for="is_productmanager-{{ single_user.username }}">Product Manager
                                        Status:</label>

                                        <input class="ml-4" type="checkbox" name="is_productmanager"
                                           id="is_productmanager-{{ single_user.username }}"
                                           class="form-control is_approved-checkbox ml-4" value="true"
                                           {% if single_user.is_productmanager %}checked{% endif %}>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <label class="ml-3" for="is_salesmanager-{{ single_user.username }}">Sales Manager
                                        Status:</label>
                                        <input class="ml-4" type="checkbox" name="is_salesmanager"
                                           id="is_salesmanager-{{ single_user.username }}"
                                           class="form-control is_approved-checkbox ml-4" value="true"
                                           {% if single_user.is_salesmanager %}checked{% endif %}>
                                    </div>



                                    <button type="submit" class="btn btn-dark admin-button mb-3 ml-2">Submit</button>
                                </form>
                            </div>
                        </div>

                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}