{% extends 'base.html' %}


{% block page_tittle %}
    Verification!
{% endblock %}

{% block content %}
  <div class="container">
    <div class="text-center">
        <br>
        <br>
      <h2 style="font-size: 32px;">Registration Successful! But, have you verified🤔</h2>
      <br>
      <p style="font-size: 20px; color: white;">Welcome to our website! Please check your email and verify your account.</p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
{% endblock %}
