<p>Thank you for registering to our website, {{ user_name }}.</p>
<p>Please click the button below to complete your registration👇</p>
<a href="{{ verification_link }}" style="
    display: inline-block;
    background-color: #000000; /* Black */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 12px 24px;
    margin: 4px 2px;
    border: none;
    border-radius: 20px; /* Makes the button oval-shaped */
    cursor: pointer;">Verify Your Email</a>
