{% extends 'base2.html' %}

{% load static %}

{% block css_files %}
{% endblock %}

{% block page_tittle %}
    Manage Product's Stock and Price
{% endblock %}

{% block content %}
    <div class="container freepage">
        <a class="btn btn-outline-dark" href="{% url 'details2' product.product_slug %}">&#x2190; Back to Product Page</a>
        <h5>Products:</h5>
        <div class="card mb-2">
            <div class="card-body">
                <p class="card-text">Product Name: {{ product.product_name }}</p>
                <p class="card-text">Product Price: {{ product.product_price }}</p>
                <p class="card-text">Product In Stock: {{ product.product_countInStock }}</p>
                <p class="card-text">Product Cost: {{ product.cost }}</p>
                <form method="POST" action="{% url 'update_product_detailed' product.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="new_price-{{ product.id }}">New Price:</label>
                        <input type="number" step="0.01" min="0" class="form-control" id="new_price-{{ product.id }}" name="new_price" placeholder="Enter new price">
                    </div>
                    <div class="form-group">
                        <label for="new_stock-{{ product.id }}">New Stock:</label>
                        <input type="number" min="0" class="form-control" id="new_stock-{{ product.id }}" name="new_stock" placeholder="Enter new stock">
                    </div>
                    <div class="form-group">
                        <label for="new_stock-{{ product.id }}">New Cost:</label>
                        <input type="number" min="0.1" class="form-control" id="new_stock-{{ product.id }}" name="new_cost" placeholder="Enter new cost">
                    </div>
                    <button type="submit" class="btn btn-primary">Update Product</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
